@media (max-width: 1199.5px) {
  /* Custom CSS  */

  h1 {
    font-size: 3.75rem;
  }
  h2 {
    font-size: 2.18rem;
  }
  h3 {
    font-size: 1.87rem;
    line-height: 1.68rem;
  }
  h5 {
    font-size: 1.025rem;
  }
}

@media (max-width: 991px) {
  /* Navbar  */
  .header-scrolled {
    height: auto;
  }

  .header_wrapper .navbar-collapse {
    margin-top: -0.125rem;
  }

  .header_wrapper .menu-navbar-nav {
    text-align: center;
    background-color: var(--bg-color);
    padding-bottom: 0.9rem;
  }

  .header_wrapper .nav-item .nav-link {
    margin-top: 0.9rem;
  }

  .box {
    flex-direction: column;
  }

  .box .contactinfo,
  .contactForm {
    width: 90%;
  }
}

@media (max-width: 767px) {
  /* Custom CSS  */

  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.57rem;
    line-height: 1.68rem;
  }

  .box {
    flex-direction: column;
  }

  .box .contactinfo,
  .contactForm {
    width: 90%;
  }
}

@media (max-width: 575.5px) {
  .box {
    flex-direction: column;
  }

  .box .contactinfo,
  .contactForm {
    width: 90%;
  }
}
